<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <aspNetCore processPath="dotnet" arguments=".\API_NetCore_WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <verbs>
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration><!--ProjectGuid: bd50387e-9f46-4154-b26c-512b22a14dce-->